<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Medieval Shop</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
     <!----details-product-slider--->
				<!-- Include the Etalage files -->
					<link rel="stylesheet" href="css/etalage.css">
					<script src="js/jquery.etalage.min.js"></script>
				<!-- Include the Etalage files -->
				<script>
						jQuery(document).ready(function($){
			
							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,
								
								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
				</script>
			 	<!----//details-product-slider--->	
</head>
<body>
<div id="app">
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="images/logo.png" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="shop.html">Shop</a></li>
                  <li><a href="upload.html" v-if="localStorage.getItem('token') !== null">Upload Weapon</a></li>
                  <li><a href="register.html" v-if="localStorage.getItem('token') === null">Sign Up</a></li>
                  <li><a href="login.html" v-if="localStorage.getItem('token') === null">Login</a></li>
                  <li><a href="#" v-on:click="logout" v-if="localStorage.getItem('token') !== null">Logout</a></li>										
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="js/responsive-nav.js"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
	    		  <!-- start search-->
						<!----search-scripts---->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
            <ul class="icon1 sub-icon1 profile_img">
              <li><a class="active-icon c1" href="#"> </a>
               <ul class="sub-icon1 list">
                 <div class="product_control_buttons">
                     <a href="#"><img src="images/close_edit.png" alt=""/></a>
                 </div>
                  <div class="cart" v-for="(cartItem,index) in listCart">
                  <li class="list_img"><img :src="cartItem.picture" alt=""/></li>
                  <li class="list_desc"><h4><a href="#">{{cartItem.name}}</a></h4><span class="actual">{{cartItem.price}}</span></li>
                  <button type ="button" v-on:click="cancelCart(index)">Delete</button>
                  </div>
                  <div class="clear"></div>
                  <div class="check_button"><a href="checkout.html">Check out</a></div>    
                 </div>
                 <div class="clear"></div>
               </ul>
              </li>
           </ul>
					 </li>
				   </ul>
		        <div class="clear"></div>
	       </div>
	      </div>
		 </div>
	    </div>
     <div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-9 single_left">
				   <div class="single_image">
					  <img :src="item.picture">
					    </div>
				        <!-- end product_slider -->
				        <div class="single_right">
              	<h3 class = "detail">{{item.name}}</h3>
							<!-- <div class="social_buttons">
								<h4>95 Items</h4>
								<button type="button" class="btn1 btn1-default1 btn1-twitter" onclick="">
					              <i class="icon-twitter"></i> Tweet
					            </button>
					            <button type="button" class="btn1 btn1-default1 btn1-facebook" onclick="">
					              <i class="icon-facebook"></i> Share
					            </button>
					             <button type="button" class="btn1 btn1-default1 btn1-google" onclick="">
					              <i class="icon-google"></i> Google+
					            </button>
					            <button type="button" class="btn1 btn1-default1 btn1-pinterest" onclick="">
					              <i class="icon-pinterest"></i> Pinterest
					            </button>
					        </div> -->
				        </div>
				        <div class="clear"> </div>
				</div>
				<div class="col-md-3">
				  <div class="box-info-product">
					<p class="price2">${{item.price}}</p>
					       <!-- <ul class="prosuct-qty">
								<span>Quantity:</span>
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
								</select>
							</ul> -->
							<button type="submit" v-on:click="addtoCart(item._id)" class="exclusive">
							   <span>Add to cart</span>
							</button>
				   </div>
			   </div>
			</div>		
			<div class="desc">
			   	<!-- <h4>Description</h4> -->
			   	<p>{{item.description || 'No Description Available'}}</p>
			</div>
      <button type="button" class="back" v-on:click="back()">Back</button>
    </div>
  </div>
</div>
<script>
var listItem = new Vue({
  el: '#app',
  data: {
  item:{}
  },
  methods:{
    detailItem(){
      var self = this;
      var itemID = localStorage.getItem('detail')
      if(itemID === null || itemID === undefined){
        window.location = 'shop.html'
      }
      else{
      axios.get(`http://localhost:3000/getItem/${itemID}`)
      .then(response =>{
        self.item = response.data 
        })
      }
    },     
    logout(){
      localStorage.clear()
      window.location ='index.html'
    },
    addtoCart(id){
      var token = localStorage.getItem('token')
      if(token === null || token === undefined){
        alert('Please Login to Make a Transaction!')
      }
      else{
        axios.get(`http://localhost:3000/getItem/${id}`)
        .then(response=>{
          var oldItems = JSON.parse(localStorage.getItem('cart')) || []
          oldItems.push(response.data)
          localStorage.setItem('cart',JSON.stringify(oldItems))
          location.reload()
        })
        .catch(err=>{
          console.log(err)
        })
      }
    },
      cancelCart(index){
        var storedItems = JSON.parse(localStorage.getItem('cart'))
        storedItems.splice(index,1)
        localStorage.setItem('cart',JSON.stringify(storedItems))
        location.reload() 
      },
      back(){
        localStorage.removeItem('detail')
        window.location = 'shop.html'
      }
  },
created: function () {
  this.detailItem()
},
computed:{
  listCart(){
    //var thiscart = this;
   return JSON.parse(localStorage.getItem('cart'))
    // thiscart.cart = cartList      
  }
  }
})
</script> 
</body>	
</html>